/*CSS reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Graduate', cursive;
}

body {
	/*background-color: #333333;*/
	/*background-image: linear-gradient(rgba(17,126,112,0.75), rgba(0,88,255,0.45)), url("../images/bg2.jpg");*/
	background-image: url("../images/bg3.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	/*background-position: center;*/
	height: 100vh;
}


/*targets element with class name container*/
.container {
	width: 800px;
	margin: 0 auto;
	text-align: center;
}
/*end container*/

/* targets the html element h1 */
h1 {
	color: #ffffff; /*#FFB600*/ /*this changes the font color of the h1 elements*/
	background-color: rgba(200,0,0,0.50);
	text-transform: uppercase;
	font-size: 50px;
	letter-spacing: 3px;
	/*text-shadow:1px 1px 10px #ffffff, 1px 1px 10px #ffffff	*/
	font-family: 'Graduate', cursive;
	margin-bottom: 15px;
	padding: 10px;
	border-radius: 10px;
	/*text outline*/
		text-shadow: -1px 0 #333, 0 1px #333, 1px 0 #333, 0 -1px #333;
		/*-webkit-text-stroke: 1px #333;*/
	/*end text outline*/
}
/* end of h2 styling */

/*start of h2 styling*/
h2 {
	color: #EEEEEE;
	text-transform: uppercase;
	letter-spacing: 5px;
	background-color: rgba(200,0,0,0.50);
	margin-bottom: 15px;
	padding: 10px;
	border-radius: 10px;
	font-family: 'Graduate', cursive;
	/*text outline*/
		text-shadow: -1px 0 #333, 0 1px #333, 1px 0 #333, 0 -1px #333;
		/*-webkit-text-stroke: 1px #333;*/
	/*end text outline*/
}
/*end of h2 styling*/

/*targets the html element with the class attribute bio*/
.bio {
	font-size: 18px;
	line-height: 22px;
	background-color: rgba(255,255,255,0.7);
	padding:10px;
	border-radius: 10px;
	font-family: 'Oxygen', sans-serif;
	/*text-shadow:1px 1px 5px #fff, 1px 1px 5px #fff;*/
	text-shadow: -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff;
}
/*end of bio*/

/*targets the html attribute id with a value me*/
#me {
	color: #FFB600;
	height: 250px;
	width: 250px;
	border-radius: 50%;
	border-width: 10px;
	border-color: rgba(200,0,0,0.50);
	border-style: solid;
	margin-top:50px;
	margin-bottom: 25px;
}
/*end of me*/

